services:
  app:
    build: .
    ports:
      - "3000:3000"
      - "1883:1883"
    environment:
      - MONGO_URI=mongodb://db:27017/ise_iot
    depends_on:
      - db

  db:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: